In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MultiLabelBinarizer
import geopy
from geopy.geocoders import GoogleV3
GM_API_KEY = 'AIzaSyBvD4uepnIzTKCyA9mHwntObMRzAAdxnTs'

In [81]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)
pd.options.display.max_columns = 500
pd.options.display.max_rows = 10000
df = pd.read_csv('preprocessedData_v3.csv', low_memory=False, index_col=False)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23989 entries, 0 to 23988
Data columns (total 42 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fiyat                      23989 non-null  int64
 1   city                       23989 non-null  object
 2   district                   23989 non-null  object
 3   neighborhood               23989 non-null  object
 4   Net Metrekare              23962 non-null  float64
 5   Oda Sayısı                 23962 non-null  object
 6   Bulunduğu Kat              23989 non-null  int64
 7   Isıtma Tipi                23962 non-null  float64
 8   Site İçerisinde            23962 non-null  float64
 9   Balkon Durumu              11653 non-null  float64
 10  Tipi                       23962 non-null  float64
 11  Brüt Metrekare             23962 non-null  float64
 12  Binanın Yaşı               23989 non-null  int64
 13  Binanın Kat Sayısı         23962 non-null  float64
 14  Kullanım Durumu            23989 non-null  int64
 15  Banyo Sayısı               23989 non-null  int64
 16  Fiyat Durumu               23962 non-null  float64
 17  Balkon Sayısı              23989 non-null  int64
 18  Eşya Durumu                16428 non-null  float64
 19  Takas                      13996 non-null  float64
 20  Yapı Tipi                  6979 non-null   float64
 21  WC Sayısı                  23989 non-null  int64
 22  Görüntülü Gezilebilir mi?  5757 non-null   float64
 23  Depozito                   23989 non-null  int64
 24  Aidat                      23989 non-null  int64
 25  Banyo Metrekare            1259 non-null   float64
 26  Balkon Metrekare           1215 non-null   float64
 27  Salon Metrekare            1101 non-null   float64
 28  WC Metrekare               898 non-null    float64
 29  bedrooms                   23962 non-null  float64
 30  living_rooms               23962 non-null  float64
 31  AçıkBalkon                 23989 non-null  int64
 32  AçıkTeras                  23989 non-null  int64
 33  FransızBalkon              23989 non-null  int64
 34  KapalıBalkon               23989 non-null  int64
 35  KapalıTeras                23989 non-null  int64
 36  Balkon Tipi                23989 non-null  object
 37  Country                    23989 non-null  object
 38  address                    23989 non-null  object
 39  z_score_fiyat              23989 non-null  float64
 40  latitude                   23987 non-null  float64
 41  longitude                  23987 non-null  float64
dtypes: float64(21), int64(14), object(7)
memory usage: 7.7+ MB

In [83]:
# Cleaning up the data set from useless cols
df.drop(["city","district","neighborhood","Oda Sayısı", "Country","address","z_score_fiyat","Balkon Tipi","WC Metrekare"],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23989 entries, 0 to 23988
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fiyat                      23989 non-null  int64
 1   Net Metrekare              23962 non-null  float64
 2   Bulunduğu Kat              23989 non-null  int64
 3   Isıtma Tipi                23962 non-null  float64
 4   Site İçerisinde            23962 non-null  float64
 5   Balkon Durumu              11653 non-null  float64
 6   Tipi                       23962 non-null  float64
 7   Brüt Metrekare             23962 non-null  float64
 8   Binanın Yaşı               23989 non-null  int64
 9   Binanın Kat Sayısı         23962 non-null  float64
 10  Kullanım Durumu            23989 non-null  int64
 11  Banyo Sayısı               23989 non-null  int64
 12  Fiyat Durumu               23962 non-null  float64
 13  Balkon Sayısı              23989 non-null  int64
 14  Eşya Durumu                16428 non-null  float64
 15  Takas                      13996 non-null  float64
 16  Yapı Tipi                  6979 non-null   float64
 17  WC Sayısı                  23989 non-null  int64
 18  Görüntülü Gezilebilir mi?  5757 non-null   float64
 19  Depozito                   23989 non-null  int64
 20  Aidat                      23989 non-null  int64
 21  Banyo Metrekare            1259 non-null   float64
 22  Balkon Metrekare           1215 non-null   float64
 23  Salon Metrekare            1101 non-null   float64
 24  bedrooms                   23962 non-null  float64
 25  living_rooms               23962 non-null  float64
 26  AçıkBalkon                 23989 non-null  int64
 27  AçıkTeras                  23989 non-null  int64
 28  FransızBalkon              23989 non-null  int64
 29  KapalıBalkon               23989 non-null  int64
 30  KapalıTeras                23989 non-null  int64
 31  latitude                   23987 non-null  float64
 32  longitude                  23987 non-null  float64
dtypes: float64(19), int64(14)
memory usage: 6.0 MB

In [84]:
display(df.head(10))

,fiyat,Net Metrekare,Bulunduğu Kat,Isıtma Tipi,Site İçerisinde,Balkon Durumu,Tipi,Brüt Metrekare,Binanın Yaşı,Binanın Kat Sayısı,Kullanım Durumu,Banyo Sayısı,Fiyat Durumu,Balkon Sayısı,Eşya Durumu,Takas,Yapı Tipi,WC Sayısı,Görüntülü Gezilebilir mi?,Depozito,Aidat,Banyo Metrekare,Balkon Metrekare,Salon Metrekare,bedrooms,living_rooms,AçıkBalkon,AçıkTeras,FransızBalkon,KapalıBalkon,KapalıTeras,latitude,longitude
0,8500,80.00000,9,4960.00000,0.00000,0.00000,22648.00000,100.00000,2,4.00000,0,1,1.00000,-1,NaN,NaN,NaN,-1,NaN,-1,-1,NaN,NaN,NaN,1.00000,1.00000,0,0,0,0,0,37.01801,35.31096
1,13000,100.00000,9,13062.00000,0.00000,1.00000,22648.00000,110.00000,5,7.00000,0,1,0.00000,2,NaN,NaN,NaN,-1,NaN,-1,-1,NaN,NaN,NaN,2.00000,1.00000,1,0,0,0,0,37.01740,35.26429
2,12000,165.00000,12,4960.00000,0.00000,1.00000,22648.00000,175.00000,7,10.00000,0,2,0.00000,2,1.00000,0.00000,6753.00000,1,NaN,-1,-1,NaN,NaN,NaN,3.00000,1.00000,1,0,0,0,0,37.04059,35.29998
3,9000,100.00000,-1,997.00000,0.00000,1.00000,254.00000,110.00000,5,3.00000,0,1,0.00000,1,0.00000,0.00000,6753.00000,1,0.00000,-1,-1,NaN,NaN,NaN,3.00000,1.00000,1,0,0,0,0,37.02195,35.38228
4,7250,24.00000,6,4960.00000,0.00000,0.00000,22648.00000,27.00000,5,4.00000,0,1,1.00000,-1,1.00000,NaN,NaN,1,NaN,-1,-1,NaN,NaN,NaN,1.50000,0.00000,0,0,0,0,0,37.03685,35.31096
5,5500,40.00000,12,4960.00000,0.00000,NaN,22648.00000,50.00000,8,4.00000,0,1,0.00000,-1,NaN,NaN,NaN,-1,NaN,5500,-1,NaN,NaN,NaN,1.00000,1.00000,0,0,0,0,0,37.01898,35.32193
6,5500,30.00000,12,4960.00000,0.00000,1.00000,22648.00000,40.00000,6,4.00000,0,1,0.00000,1,1.00000,NaN,6753.00000,1,NaN,-1,-1,NaN,NaN,NaN,1.50000,0.00000,0,1,0,0,0,37.01898,35.32193
7,6250,20.00000,3,4960.00000,0.00000,0.00000,22648.00000,27.00000,5,4.00000,0,1,1.00000,-1,1.00000,NaN,NaN,1,NaN,-1,100,NaN,NaN,NaN,1.00000,0.00000,0,0,0,0,0,37.03685,35.31096
8,7000,85.00000,14,997.00000,0.00000,1.00000,22648.00000,100.00000,0,12.00000,0,1,0.00000,-1,NaN,NaN,NaN,-1,NaN,-1,-1,NaN,NaN,NaN,2.00000,1.00000,0,0,0,0,0,37.07209,35.38395
9,15000,190.00000,12,1822.00000,0.00000,1.00000,22648.00000,210.00000,7,6.00000,0,2,1.00000,1,0.00000,0.00000,6753.00000,1,1.00000,15000,150,25.00000,20.00000,50.00000,3.00000,1.00000,1,0,0,0,0,37.01898,35.32193

In [85]:
#Filling missing values

# if Eşya Durumu is NaN, it means that the house is unfurnished so we fill it with 0
df['Eşya Durumu'].fillna(0,inplace=True)
display(df['Eşya Durumu'].value_counts())

Eşya Durumu
0.00000    16943
1.00000     7046
Name: count, dtype: int64

In [86]:
# if Takas is NaN, it means that the house is not for trade so we fill it with 0
df["Takas"].fillna(0,inplace=True)
display(df["Takas"].value_counts())

Takas
0.00000    23780
1.00000      209
Name: count, dtype: int64

In [87]:
# if Yapı Tipi is NaN, it means that the house type is not specified so we fill it with the most common type
df["Yapı Tipi"].fillna(6753,inplace=True)
display(df["Yapı Tipi"].value_counts())

Yapı Tipi
6753.00000    23762
89.00000         89
85.00000         85
23.00000         23
20.00000         20
6.00000           6
4.00000           4
Name: count, dtype: int64

In [88]:
# filling missing values with 1 means that the house can be visited
df["Görüntülü Gezilebilir mi?"].fillna(1,inplace=True)
display(df["Görüntülü Gezilebilir mi?"].value_counts())

Görüntülü Gezilebilir mi?
1.00000    21020
0.00000     2969
Name: count, dtype: int64

In [89]:

# if Banyo Metrekare is NaN, it means that the house bathrom size is not specified so we fill it with the most common type
df["Banyo Metrekare"].fillna(3,inplace=True)
display(df["Banyo Metrekare"].value_counts())

Banyo Metrekare
3.00000       22784
5.00000         239
10.00000        188
6.00000         150
8.00000         117
15.00000        113
4.00000         103
7.00000          62
20.00000         55
12.00000         32
1.00000          32
9.00000          26
2.00000          26
0.00000          18
25.00000         14
50.00000          4
16.00000          4
35.00000          4
30.00000          3
17.00000          2
18.00000          2
11.00000          2
2500.00000        1
100.00000         1
45.00000          1
22.00000          1
13.00000          1
40.00000          1
150.00000         1
60.00000          1
80.00000          1
Name: count, dtype: int64

In [90]:
# if Balkon Metrekare is NaN, it means that the house balcony size is not specified so we fill it with 0
df["Balkon Metrekare"].fillna(0,inplace=True)
display(df["Balkon Metrekare"].value_counts())

Balkon Metrekare
0.00000      22788
10.00000       186
5.00000        156
15.00000       143
20.00000       113
8.00000         95
6.00000         88
4.00000         58
3.00000         44
12.00000        41
7.00000         40
25.00000        37
30.00000        32
2.00000         31
9.00000         18
1.00000         17
50.00000        16
18.00000        12
40.00000        11
35.00000         9
16.00000         7
13.00000         7
14.00000         6
45.00000         5
17.00000         3
60.00000         3
80.00000         2
22.00000         2
70.00000         2
24.00000         2
42.00000         2
36.00000         1
38.00000         1
28.00000         1
55.00000         1
300.00000        1
100.00000        1
21.00000         1
75.00000         1
150.00000        1
11.00000         1
200.00000        1
23.00000         1
65.00000         1
Name: count, dtype: int64

In [91]:

# fill it with the average of the column
df["Salon Metrekare"].fillna(df["Salon Metrekare"].mean(),inplace=True)
display(df["Salon Metrekare"].value_counts())

Salon Metrekare
28.30609     22888
30.00000       204
25.00000       176
20.00000       135
35.00000        91
40.00000        76
28.00000        47
15.00000        44
50.00000        37
22.00000        23
18.00000        21
45.00000        21
26.00000        20
27.00000        20
24.00000        18
0.00000         18
32.00000        15
10.00000        15
60.00000        11
19.00000        10
1.00000         10
38.00000         7
23.00000         7
55.00000         7
33.00000         7
16.00000         5
12.00000         5
17.00000         5
65.00000         4
21.00000         4
80.00000         3
29.00000         3
5.00000          3
3.00000          2
8.00000          2
70.00000         2
2.00000          2
34.00000         2
120.00000        2
13.00000         2
14.00000         2
4.00000          1
90.00000         1
58.00000         1
37.00000         1
48.00000         1
75.00000         1
36.00000         1
39.00000         1
64.00000         1
6.00000          1
128.00000        1
7.00000          1
9.00000          1
Name: count, dtype: int64

In [92]:
# fill na with 0
df["Balkon Durumu"].fillna(0,inplace=True)
display(df["Balkon Durumu"].value_counts())

Balkon Durumu
0.00000    13501
1.00000    10488
Name: count, dtype: int64

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23989 entries, 0 to 23988
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   fiyat                      23989 non-null  int64
 1   Net Metrekare              23962 non-null  float64
 2   Bulunduğu Kat              23989 non-null  int64
 3   Isıtma Tipi                23962 non-null  float64
 4   Site İçerisinde            23962 non-null  float64
 5   Balkon Durumu              23989 non-null  float64
 6   Tipi                       23962 non-null  float64
 7   Brüt Metrekare             23962 non-null  float64
 8   Binanın Yaşı               23989 non-null  int64
 9   Binanın Kat Sayısı         23962 non-null  float64
 10  Kullanım Durumu            23989 non-null  int64
 11  Banyo Sayısı               23989 non-null  int64
 12  Fiyat Durumu               23962 non-null  float64
 13  Balkon Sayısı              23989 non-null  int64
 14  Eşya Durumu                23989 non-null  float64
 15  Takas                      23989 non-null  float64
 16  Yapı Tipi                  23989 non-null  float64
 17  WC Sayısı                  23989 non-null  int64
 18  Görüntülü Gezilebilir mi?  23989 non-null  float64
 19  Depozito                   23989 non-null  int64
 20  Aidat                      23989 non-null  int64
 21  Banyo Metrekare            23989 non-null  float64
 22  Balkon Metrekare           23989 non-null  float64
 23  Salon Metrekare            23989 non-null  float64
 24  bedrooms                   23962 non-null  float64
 25  living_rooms               23962 non-null  float64
 26  AçıkBalkon                 23989 non-null  int64
 27  AçıkTeras                  23989 non-null  int64
 28  FransızBalkon              23989 non-null  int64
 29  KapalıBalkon               23989 non-null  int64
 30  KapalıTeras                23989 non-null  int64
 31  latitude                   23987 non-null  float64
 32  longitude                  23987 non-null  float64
dtypes: float64(19), int64(14)
memory usage: 6.0 MB

In [94]:
df.to_csv('finalDataModel.csv', index=False , encoding='utf-8-sig')